@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Dosis-Bold.woff2") format("woff2"), url("../fonts/Dosis-Bold.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #797979;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  padding: 0;
}

a {
  padding: 0;
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #2B4074;
  padding-bottom: 20px;
  position: relative;
}
.title::after {
  position: absolute;
  content: "";
  background-color: #2B4074;
  bottom: 0;
  left: calc(50% - 50px);
  height: 8px;
  width: 100px;
}

.container {
  padding: 0 20px;
}

.header {
  background-color: #2B4074;
}
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}

.logo__link {
  margin-left: 8px;
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2B4074;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0px;
  }
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .menu__btn {
    margin-right: 90px;
  }
}
/**************HEAD****************/
.head {
  background-image: url("../images/bg-slider.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 193px;
}

/*@media (min-width: 640px){
    .head {
        min-height: 386px;
        background-position: center center;
    }
} */
.top-slider {
  background: rgba(33, 33, 33, 0.5);
}
.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}
.top-slider__title {
  font-family: "RobotoCondensed-Regular";
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
}
.top-slider__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  background-color: #4a4a4a;
  width: 61px;
  margin: 0 auto;
}
.top-slider__text {
  display: none;
}
.top-slider__btn {
  display: none;
}
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476E4D;
}
.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2B4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    min-width: 522px;
  }
  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    font-size: 18px;
    line-height: 18px;
    background-color: #2B4074;
    color: #F9F6E5;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
  }
  .top-slider .slick-dots {
    margin-bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    background-color: #2B4074;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #F9F6E5;
    bottom: calc(50% - 56px);
  }
}
@media (min-width: 768px) {
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto 0;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    padding: 25px 0 32px;
    font-family: "RobotoCondensed-Regular";
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: block;
    max-width: 587px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    min-width: 750px;
  }
  .top-slider .slick-dots {
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 865px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
  }
  .top-slider .slick-dots {
    margin-bottom: 80px;
    max-width: 886px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
}
/************HEAD***************/
/***************CALL************/
.call {
  background-color: #2B4074;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}
.call__title {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}
.call__text {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
}
.call__btn {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  background-color: #F9F6E5;
  border-radius: 3px;
  border: none;
  color: #2B4074;
  padding: 16px 15px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}
@media (min-width: 1014px) {
  .call__box {
    max-width: 695px;
  }
}
@media (min-width: 1440px) {
  .call__inner {
    padding: 0 80px;
  }
  .call__box {
    max-width: 796px;
  }
}
/*SERVICES*/
.services {
  padding: 25px 0 40px;
  text-align: center;
}
.services__title {
  margin-bottom: 47px;
}
.services__descr {
  font-size: 20px;
  line-height: 24px;
  color: #4a4a4a;
  margin-bottom: 21px;
}
.services__text {
  color: #797979;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 40px;
}
.services__item {
  min-height: 310px;
  border: 1px solid #F9F6E5;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services__item:last-child {
  border-bottom: 1px solid #F9F6E5;
}
.services__item:hover .services__item-link,
.services__item:hover .services__item-text {
  display: block;
}
.services__item:hover .services__item-title {
  margin-bottom: 30px;
}
.services__item-inner {
  border: 4px solid #2B4074;
  margin: 18px;
  padding: 5px 20px;
}
.services__item-img {
  margin-bottom: 30px;
}
.services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
}
.services__item-text {
  display: none;
  font-family: "Dosis-Regular";
  color: #9B9B9B;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.services__item-link {
  display: none;
  color: #2B4074;
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */